@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap'); 

body {
  font-family: 'Montserrat', sans-serif;
}

.search-bar input {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}