@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap'); 

body {
  font-family: 'Montserrat', sans-serif;
}

.search-bar input {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}


// .navbar {
//   background-color: lightblue;
  
// //   ul{
// //     display: flex;
// //     justify-content: space-between;
// //     width: 350px;
// //     list-style: none;
// //     text-decoration: none;
    
// //     li{
// //       text-decoration: none;
// //     }
// //   }
// }

// body {
//   margin: 0 auto;
// }
